
.body-donate{
    background-color: #ffff;
}

.bg-form{
    background-image: url(../assets/backgrounds/leaves6.jpg);
    background-color: var(--green);
    background-attachment: fixed;
    background-size: cover;
}

.container-form{
    background-color: #f7f3f1;
    width: 70%;
    margin: 0 auto;
    padding-top: 5em;
    height: 72em;
}

.header-donate{
    margin-bottom: 4em;
}

.h1-donate{
    color: var(--green);
    margin-bottom: 0.5em;
}

.p-header-donate{
    text-align: center;
    color: var(--green);
}


form{
    margin: 0 auto;
    display: block;
    width: 40em;
}


.fieldset-donate{
    margin-bottom: 1em;
    font-family: Montserrat;
    color: var(--dark-green);
    border-radius: 5px;
    border-color: var(--green);
}

.box-input{
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

.label-donate{
    margin-bottom: .5em;
}

.input-image{
    background-color: #ffff;
    padding: 1em;
}

.btn-submit{
    padding: 15px 70px;
    display: block;
    margin: 0 auto;
    align-items: center;
    font-size: 16px;
    margin-top: 2em;
}

.input-donate, .texarea-donate{
    font-family: arial;
    color: grey;
    font-size: 14px;
    padding: 1em;
}

