:root{
    --green: #4E7141;
    --orange: #f26f20;
    --shadow: rgba(0,0,0,0.4);
}

* {
    box-sizing: border-box;
}

html {
    background-color: #ffff;
    font: 100%/1.4;
    font-family: arial;
    height: 100%;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

body {
    margin: 0 auto;
    width: 100%;
    }

/* ======================== HEADER  ========================  */

nav {
    width: 100%;
    display: flex;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.nav-list{
    display: flex;
    align-items: center;
    margin-top: 1em;
}
ul{
    display: flex;
    list-style-type: disc;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.nav-item .nav-link {
    font-family: Montserrat;
    font-size: 1em;
    color: var(--green);
    cursor: pointer;
    padding: 1em;
}

.nav-link:hover{
    color: var(--orange);
}

a{
    text-decoration: none;
}

.logo
{   
    margin-left: 2em;
    display: inline-block;
    width: 11rem;
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.1);
    text-shadow: var(--shadow);
}

.header-bottom{
    background-image: url("../assets/header-bg.jpg");
    background-color: var(--orange);
    background-size: cover;
    background-position-y: center;
    padding: 1em;
    height: 24em;
}

.header-h1{
    background-color: rgba(255, 255, 255, 0.805); 
    box-shadow: var(--shadow); 
    padding: 1em;
    margin: 0 auto;
    max-width: 36rem;
    margin-top: 7rem;
    border-radius: 5px;
}   

h1{
    text-align: center;
    font-size:  29px;
    font-family: Montserrat, sans-serif;
    margin-top: 2em;
    margin-bottom: 2em;
    color: var(--green);
}

.koptext{
    max-width: 32em;
    font-size: 18px;
    padding-top: 1em;
    padding-bottom: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}
